<!DOCTYPE html>
<html>
<head>
    <title>Photo Gallery</title>
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'upload_photo' %}">Upload Photo</a>
    {% endif %}

    {% if tag %}
    <p>Showing results for tag: <strong>{{ tag }}</strong></p>
    <a href="{% url 'home' %}">Clear filter</a>
    {% endif %}
    <h1>Gallery</h1>

    {% if photos %}
        <ul>
            {% for photo in photos %}
                <li>
                    <a href="{% url 'photo_detail' photo.id %}">
                        <img src="{{ photo.image.url }}" width="200" />
                    </a>
                    <p>{{ photo.title }}</p>
                    <p>❤️ {{ photo.liked_by.count }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No photos yet.</p>
    {% endif %}
</body>
</html>